.btnDetail {
  margin-top: 1rem;
}

.cardBack {
  background: rgba(73, 61, 57, 0.7);
  box-shadow: 1px 1px 20px -10px #20202049;
  height: 40%;
  width: 450px;
  border-radius: 20px;
  display: flex;
  margin: 2rem auto;  
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 16px;
  line-height: 8%;
  color: white;

  font-size: small;
  font-family: cursive;
  line-height: 48%;

}

.aa{
    display: flex;
    justify-content: space-around;
    column-gap: 12rem;
}

.btn{
    background-color:rgb(43, 199, 43); 
    border: none;
    border-radius: .5rem;   
    color: white;
    font-weight: 700;
    padding: .5rem 1rem;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; 
    max-height: 3rem;
    margin-top: .5rem;
      
    width: 8rem;  
  }
  
  .btn:hover{
  cursor: pointer;
  box-shadow: 1px 1px 15px -4px #ffffffec;
  background-color:rgb(77, 223, 77);    
  }

  .text{
    font-size: 2.5rem;
   font-weight: 900;
  }