.errorP{
    color:rgb(251, 255, 0)
}

.errorInput{
    border: solid red 1px;
    border-radius: 0.2em;
}

.imgStyle{
    object-fit: cover;
    width:100%;
    height:100%;
    max-width: 400px;
    max-height: 400px;
  }

.mainContainer{    
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;            
 }

.center{    
    display: flex;
    flex-direction: column;
    margin: 15rem auto;  
    min-width: 380px; 
}

.fondo{    
    background-color: rgba(58, 50, 47, 0.5);   
    height: 250px;
}

.formulario{
    background-color: rgba( 73, 61, 57, 0.9);
    width: min(80rem, 100%);
    padding: 2rem;   
    border-radius: 1rem;
}
.formulario fieldset{
    border: none;
}
.formulario legend{
    color:rgb(43, 199, 43);
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
}

.campo{
margin-bottom: 1rem;
}
.campo label{
color: rgb(43, 199, 43);
font-weight: bold;
margin-bottom: .5rem;
display: block; 
 
}

.btnLogin{
    background-color: rgb(43, 199, 43);
    border: none;
    border-radius: .5rem;   
    color: white;
    font-weight: 900;
    padding: .5rem 1.5rem;
    width: 100%;    
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 1rem;
}

.btnLogin:hover{
cursor: pointer;
box-shadow: 1px 1px 15px -4px #ffffffec; 
background-color:rgb(77, 223, 77); 
}

.btnContainer{
    display: flex;
    justify-content: flex-end;
}

.inputText{
    width: 100%;
    border: none;
    padding: 1.2rem;
    border-radius: .5rem;
}

@media (min-width: 600px) {
    .btnLogin{
        width: auto;
    }
}
/*  esto es de cuando puse la img redonda a la derecha
@media (min-width: 600px) {
    .mainContainer {
        width: min(90%, 110rem);
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;         
    }  
    .btnLogin{
        width: auto;
    }
    .imgStyle{
        margin-top: 7rem;
      }
      .formulario{
        margin-top: 10rem;    
    }    
}*/

.btnModerno{
    background-color: #232323;
    padding: 8px 16px;
    color: white;
    font-size: 1.5rem;
    border-radius: .5rem;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: 10px solid #7144db;
 
    cursor: pointer;
    border: 1px solid rgb(43, 199, 43);  
    border-left: 10px solid rgb(43, 199, 43);
   
  }
  .btnModerno:hover{
    border-left: 10px solid #672cee;
    box-shadow: 1px 1px 20px -4px #ffffff70; 
  }