.barra {
  background-color: rgba( 73, 61, 57, 0.5); /*con rgba se le añade opacidad al color sin afectar los hijos del elemento*/
  border: 1px solid rgb(163, 191, 253);
  border-radius: 50px;
  padding: 1rem;
  margin: 1.5rem auto 0.5rem auto;
  width: min(90%, 120rem);
}

.activeStyle {
  color: #f892df;
  font-weight: bold;
  text-decoration: none;
  text-decoration: underline;
}
.nonActiveStyle {
  color: #917ae2;
  font-weight: bold;
  text-decoration: none;
}

.display {
  display: block;
  text-align: center;
  padding: 1rem 0;
  font-size: large;
}

@media (min-width: 600px) {
  .display {
    display: inline-block;
    font-size: xx-large;
    margin-left: 7rem;
  }
  .barra {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    align-items: center;
  }
}


@media (min-width: 1000px) {
 
  .barra {
    
    grid-template-columns: 1fr 1fr;
   
  }
}